[Unit]
Description=Go Ethereum Private Network Genesis
Documentation=https://github.com/ethereum/go-ethereum/wiki
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure

RestartSec=10s

User={{ geth_user }}
Group={{ geth_group }}

ExecStart={{ geth_path }} --networkid {{ networkid }} {% if mine is defined %}--mine{% endif %} --nodiscover --maxpeers 1 --ws --wsorigins * --wsaddr {{ bind_address }} --rpc --rpcvhosts * --rpccorsdomain * --rpcaddr {{ bind_address }} --verbosity {{ geth_verbosity | default(3) }} --identity {{ nodename }}

KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90s

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full

NoNewPrivileges=true

StandardOutput=syslog

[Install]
WantedBy=multi-user.target
