[Unit]
Description=Go Ethereum
Documentation=https://github.com/ethereum/go-ethereum/wiki
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure

RestartSec=10s

User={{ geth_user }}
Group={{ geth_group }}

ExecStart={{ geth_path }} \
    --syncmode fast \
    --http \
    --http.addr {{ bind_address }} \
    --http.api {{ geth_api }} \
    --http.corsdomain * \
    --http.vhosts * \
    --ws \
    --ws.origins * \
    --ws.addr {{ bind_address }} \
    --ws.api {{ geth_api }} \
    --verbosity {{ geth_verbosity | default(3) }} \
    --identity {{ nodename }} \
    --light.serve {{ lightserv_capacity }} \
    {% if datadir is defined %} --datadir {{ datadir }}{% endif %}

KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90s

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full

NoNewPrivileges=true

LimitNOFILE=49152

StandardOutput=syslog

[Install]
WantedBy=multi-user.target
